# Basic Python

## 1. Split this string

In [1]:
s = "Hi there Sam!"

In [2]:
s.split()

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [3]:
planet = "Earth"
diameter = 12742

In [4]:
output="The diameter of {planet} is {diameter} kilometers.".format(planet=planet, diameter=diameter)
print(output)

The diameter of Earth is 12742 kilometers.

## 3. In this nest dictionary grab the word "hello"

In [5]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [6]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

# Numpy

In [7]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [8]:
array_z=np.zeros(10)
print(array_z)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [9]:
array_f=np.ones(10)*5
print(array_f)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [10]:
li_e=[a for a in range(20,35,2)]
print(li_e)

[20, 22, 24, 26, 28, 30, 32, 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [11]:
import numpy as np
matrix_3=np.arange(0,9).reshape(3,3)
print(matrix_3)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [12]:
import numpy as np
l=np.array([1,2,3])
m=np.array([4,5,6])
print(np.concatenate((l,m), axis=None))

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [13]:
import pandas as pd

In [16]:
import numpy as np
array_random=np.random.randint(10,size=(3,2))
print(pd.DataFrame(array_random))

   0  1
0  5  0
1  6  1
2  2  0

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [17]:
import datetime
start_dates = datetime.date(2023, 1, 1)
end_dates = datetime.date(2023, 2, 10)
delta = datetime.timedelta(days=1)

while start_dates <= end_dates:
    print(start_dates)
    start_dates += delta

2023-01-01
2023-01-02
2023-01-03
2023-01-04
2023-01-05
2023-01-06
2023-01-07
2023-01-08
2023-01-09
2023-01-10
2023-01-11
2023-01-12
2023-01-13
2023-01-14
2023-01-15
2023-01-16
2023-01-17
2023-01-18
2023-01-19
2023-01-20
2023-01-21
2023-01-22
2023-01-23
2023-01-24
2023-01-25
2023-01-26
2023-01-27
2023-01-28
2023-01-29
2023-01-30
2023-01-31
2023-02-01
2023-02-02
2023-02-03
2023-02-04
2023-02-05
2023-02-06
2023-02-07
2023-02-08
2023-02-09
2023-02-10

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [18]:
import pandas as pd
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [19]:
df=pd.DataFrame(lists,columns=['S.No.','Name','Value'])
print(df)

   S.No. Name  Value
0      1  aaa     22
1      2  bbb     25
2      3  ccc     24